<?xml version="1.0" encoding="EUC-JP"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Mail administrator</title>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP" />

<link href="main.css" style="text/css" rel="stylesheet"/>
</head>

<body>

<h1>配信予約を確認</h1>

{message}
<br />
<table border="1">
  <tr>
    <th>送信先グループ</th>
    <th>送信内容</th>

    <th>状態(0-2)</th>
    <th>登録</th>
    <th>予定</th>
    <th>終了</th>
    <th>削除</th>
  </tr>
<!-- BEGIN RECORD -->
  <tr>
    <td><a href="record.php?g_group_id={g_group_id}">{g_title}</a></td>
    <td><a href="log_display.php?s_logid={s_logid}">表示</a></td>
    <td>{s_status}</td>
    <td>{s_start}</td>
    <td>{s_schedule}</td>
    <td>{s_end}</td>
    <td><a href="schedule_delete.php?s_logid={s_id}" onClick="if( !confirm('削除しますか？') ) { return false; }">削除</a></td>
  </tr>
<!-- END RECORD -->
</table>

<br />
<br />
<br />
<br />
<a href="../index.html">トップへ戻る</a>

</body>
</html>









