<?xml version="1.0" encoding="EUC-JP"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Mail administrator</title>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP" />

<link href="main.css" style="text/css" rel="stylesheet"/>
</head>

<body>

<h1>削除</h1>
{message}

<br><br>
<a href="confirm_schedule.php">一覧へ戻る</a>


</body>
</html>









